html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

* {
  box-sizing: border-box;
  font-family: 'Yomogi', cursive;
}
